#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <3>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        // 各マクロを呼び出すためのコンボ群
        // timeout-msを短く設定し、高速なロールオーバー入力でのみ発動するようにする

        combo_lsft_enter: c_lsft_enter {
            timeout-ms = <125>;
            key-positions = <10 41>;
            bindings = <&M_LSFT_ENTER>;
            layers = <0>;
        };

        combo_rsft_enter: c_rsft_enter {
            timeout-ms = <125>;
            key-positions = <21 41>;
            bindings = <&M_RSFT_ENTER>;
            layers = <0>;
        };

        combo_lctl_enter: c_lctl_enter {
            timeout-ms = <125>;
            key-positions = <22 41>;
            bindings = <&M_LCTL_ENTER>;
            layers = <0>;
        };

        combo_lalt_enter: c_lalt_enter {
            timeout-ms = <125>;
            key-positions = <24 41>;
            bindings = <&M_LALT_ENTER>;
            layers = <0>;
        };

        combo_ralt_enter: c_ralt_enter {
            timeout-ms = <125>;
            key-positions = <31 41>;
            bindings = <&M_RALT_ENTER>;
            layers = <0>;
        };

        combo_rctl_enter: c_rctl_enter {
            timeout-ms = <125>;
            key-positions = <33 41>;
            bindings = <&M_RCTL_ENTER>;
            layers = <0>;
        };

        combo_lcs_enter: c_lcs_enter {
            timeout-ms = <125>;
            key-positions = <34 41>;
            bindings = <&M_LCS_ENTER>;
            layers = <0>;
        };

        combo_lwin_enter: c_lwin_enter {
            timeout-ms = <125>;
            key-positions = <35 41>;
            bindings = <&M_LWIN_ENTER>;
            layers = <0>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        // 各「修飾キー + Enter」の組み合わせを実行するためのマクロ群

        M_LSFT_ENTER: m_lsft_enter {
            compatible = "zmk,behavior-macro";
            label = "M_LSFT_ENTER";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LSHIFT>;
        };

        M_RSFT_ENTER: m_rsft_enter {
            compatible = "zmk,behavior-macro";
            label = "M_RSFT_ENTER";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RSHIFT>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp RSHIFT>;
        };

        M_LCTL_ENTER: m_lctl_enter {
            compatible = "zmk,behavior-macro";
            label = "M_LCTL_ENTER";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        M_LALT_ENTER: m_lalt_enter {
            compatible = "zmk,behavior-macro";
            label = "M_LALT_ENTER";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LALT>;
        };

        M_RALT_ENTER: m_ralt_enter {
            compatible = "zmk,behavior-macro";
            label = "M_RALT_ENTER";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp RALT>;
        };

        M_RCTL_ENTER: m_rctl_enter {
            compatible = "zmk,behavior-macro";
            label = "M_RCTL_ENTER";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RCTRL>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp RCTRL>;
        };

        M_LCS_ENTER: m_lcs_enter {
            compatible = "zmk,behavior-macro";
            label = "M_LCS_ENTER";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        M_LWIN_ENTER: m_lwin_enter {
            compatible = "zmk,behavior-macro";
            label = "M_LWIN_ENTER";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LWIN>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_release>,
                <&kp LWIN>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;

            // キーを押したまま、次のキーを押し始めた瞬間に「ホールド」と判定する。

            flavor = "hold-preferred";
        };

        hp_mod: hold_preferred_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_PREFERRED_MOD";
            #binding-cells = <2>;

            // キーを押したまま、次のキーを押して、離した瞬間に「ホールド」と判定する。

            flavor = "balanced";

            // 直前のキー入力から150ミリ秒以内にこのキーが押されたら、それはタイピングのコンボの一部なので、タップとして扱う
            // require-prior-idle-ms = <150>;
            // タップから150msしたらホールドとして扱う

            tapping-term-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                            &kp W         &kp E           &kp R     &kp T                                                &kp Y                   &kp U  &kp I                    &kp O      &kp P
&hp_mod LEFT_SHIFT A             &kp S         &kp D           &kp F     &kp G      &kp CAPSLOCK              &mkp MB2        &kp H                   &kp J  &kp K                    &kp L      &hp_mod RIGHT_SHIFT MINUS
&hp_mod LEFT_CONTROL Z           &kp X         &mt LEFT_ALT C  &kp V     &kp B      &kp LANGUAGE_2            &kp LANGUAGE_1  &kp N                   &kp M  &hp_mod RIGHT_ALT COMMA  &lt 5 DOT  &hp_mod RIGHT_CONTROL SLASH
&mt LC(LEFT_SHIFT) LEFT_CONTROL  &kp LEFT_WIN  &kp ESCAPE      &mkp MB1  &kp SPACE  &lt_to_layer_0 2 TAB      &kp BACKSPACE   &lt_to_layer_0 1 ENTER                                             &to 6
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        NUM_SYM {
            bindings = <
&kp EXCLAMATION                   &kp AT           &kp HASH      &kp DOLLAR    &kp PERCENT                                &kp CARET             &kp AMPERSAND          &kp ASTRK         &kp PIPE          &kp EQUAL
&hp_mod LEFT_SHIFT N1             &kp N2           &kp NUMBER_3  &kp N4        &kp NUMBER_5  &kp KP_PLUS       &kp GRAVE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE  &kp SEMICOLON     &kp TILDE
&kp NUMBER_6                      &kp NUMBER_7     &kp N8        &kp NUMBER_9  &kp N0        &kp KP_MINUS      &none      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LESS_THAN     &kp GREATER_THAN  &kp QUESTION
&hp_mod LC(LEFT_SHIFT) KP_DIVIDE  &kp KP_MULTIPLY  &kp EQUAL     &mkp MB1      &kp SPACE     &kp TAB           &none      &trans                                                                           &none
            >;
        };

        FUNCTION {
            bindings = <
&none                  &none         &none      &none   &none                             &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
&hp_mod LEFT_SHIFT F1  &kp F2        &kp F3     &kp F4  &kp F5   &kp F11      &none       &kp LEFT        &kp DOWN        &kp UP_ARROW  &kp RIGHT        &kp RIGHT_SHIFT
&kp F6                 &kp F7        &kp F8     &kp F9  &kp F10  &kp F12      &none       &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &kp RCTRL
&kp LEFT_CONTROL       &kp LEFT_WIN  &kp GRAVE  &none   &none    &none        &kp DELETE  &kp ENTER                                                      &none
            >;
        };

        AUTO_MOUSE {
            bindings = <
&kp LC(Q)  &kp LC(W)  &kp LC(E)  &kp LC(R)  &kp LC(T)                      &none  &none     &none     &none  &none
&kp LC(A)  &kp LC(S)  &kp LC(D)  &kp LC(F)  &kp LC(G)  &none        &none  &none  &mkp MB4  &mkp MB5  &none  &none
&kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(B)  &none        &none  &none  &mkp MB1  &mkp MB2  &mo 5  &to 4
&none      &kp LWIN   &none      &mkp MB1   &kp SPACE  &kp TAB      &none  &none                             &none
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans    &trans                          &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans    &trans     &trans       &trans  &trans  &mkp MB1  &mkp MB2  &mo 5   &trans
&trans  &trans  &trans  &trans    &trans     &trans       &trans  &trans  &mkp MB1  &mkp MB2  &mo 5   &to 0
&trans  &trans  &trans  &mkp MB1  &kp SPACE  &kp TAB      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &to 4
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&none          &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &none                                 &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none          &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &none          &none      &bt BT_CLR  &none         &none         &none         &none         &none
&kp C_BRI_MIN  &kp C_BRI_DN  &none             &kp C_BRI_UP  &kp C_BRI_MAX  &none      &none       &none         &none         &none         &none         &none
&none          &none         &none             &none         &none          &none      &none       &none                                                   &to 0
            >;
        };
    };
};
