#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 10>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <14 15>;
        };

        double_quotation {
            bindings = <&kp SQT>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <29 28>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <16 17>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <9 8>;
        };

        scroll {
            bindings = <&mo 5>;
            key-positions = <15 31>;
        };

        del2 {
            bindings = <&kp DELETE>;
            key-positions = <9 8 7>;
        };

        Lshift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <22 10>;
        };

        Rshift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <33 21>;
        };
    };

    macros {
        GUID: GUID {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp O &kp K &kp U &kp N &kp O &kp N0 &kp N0 &kp N2>;
            label = "GUID";
        };

        pwcpass: pwcpass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(I) &kp L &kp I &kp V &kp E &kp I &kp N &kp LS(A) &kp P &kp R &kp N7 &kp EXCL>;
            label = "PWCPASS";
        };

        macpass: macpass {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp L &kp T &kp E &kp R &kp N &kp A &kp T &kp I &kp V &kp E>;
            label = "MACPASS";
        };

        onepassword: onepassword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(I) &kp L &kp I &kp V &kp E &kp I &kp N &kp LS(J) &kp A &kp P &kp A &kp N &kp N7 &kp EXCL>;
            label = "ONEPASSWORD";
        };

        toMacStudio: toMacStudio {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "TOMACSTUDIO";
        };

        toiPad13: toiPad13 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "TOIPAD13";
        };

        toiPad11: toiPad11 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "TOIPAD11";
        };

        toiPhone: toiPhone {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "TOIPHONE";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&toMacStudio>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        WIN-default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R             &kp T                                           &kp Y           &kp U  &kp I      &kp O    &kp P
&kp A      &kp S         &kp D         &kp F             &kp G        &lt 9 TAB           &kp BACKSPACE  &kp H           &kp J  &kp K      &kp L    &lt 9 ENTER
&kp Z      &kp X         &kp C         &kp V             &kp B        &kp LEFT_SHIFT      &lt 7 SLASH    &kp N           &kp M  &kp COMMA  &kp DOT  &kp MINUS
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &kp INT_MUHENKAN  &lt 3 SPACE  &lt 2 ENTER         &lt 3 SPACE    &kp INT_HENKAN                             &mt LEFT_CONTROL LEFT_BRACKET
            >;
        };

        MacDefault {
            bindings = <
&kp Q         &kp W      &kp E         &kp R           &kp T                                           &kp Y           &kp U  &kp I      &kp O    &kp P
&kp A         &kp S      &kp D         &kp F           &kp G        &lt 9 TAB           &kp BACKSPACE  &kp H           &kp J  &kp K      &kp L    &lt 9 ENTER
&kp Z         &kp X      &kp C         &kp V           &kp B        &kp LEFT_SHIFT      &lt 7 SLASH    &kp N           &kp M  &kp COMMA  &kp DOT  &kp MINUS
&kp LEFT_WIN  &kp LCTRL  &kp LEFT_ALT  &kp LANGUAGE_2  &lt 8 SPACE  &lt 2 ENTER         &lt 8 SPACE    &kp LANGUAGE_1                             &mt LEFT_WIN AT_SIGN
            >;
        };

        NUM {
            bindings = <
&kp EQUAL              &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp LS(SQT)                                                    &kp DOT    &kp ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9
&kp LEFT_PARENTHESIS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS          &kp LC(LA(KP_NUMBER_0))      &kp DELETE     &kp SLASH  &kp MINUS     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6
&kp RIGHT_PARENTHESIS  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp LS(SEMICOLON)  &kp EQUAL                    &kp LS(SLASH)  &kp EQUAL  &kp PLUS      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
&kp LCTRL              &kp KP_NUMBER_0  &kp SLASH        &trans           &lt 6 SPACE        &trans                       &lt 6 SPACE    &trans                                               &kp NUMBER_0
            >;
        };

        ARROW {
            bindings = <
&kp LS(NUMBER_1)  &kp LS(NUMBER_2)    &kp LS(NUMBER_3)  &kp LS(NUMBER_4)     &kp LS(N5)                               &kp LS(NUMBER_6)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)   &kp LS(NUMBER_0)
&kp HOME          &kp LA(LEFT_ARROW)  &kp UP_ARROW      &kp LA(RIGHT_ARROW)  &kp END     &GUID            &kp DELETE  &kp MINUS         &kp EQUAL         &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
&kp LEFT_SHIFT    &kp LEFT_ARROW      &kp DOWN_ARROW    &kp RIGHT_ARROW      &trans      &pwcpass         &kp SEMI    &kp LS(MINUS)     &kp LS(EQUAL)     &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp LS(BACKSLASH)
&trans            &trans              &trans            &trans               &trans      &lt 6 ENTER      &trans      &trans                                                                   &kp LS(INT_RO)
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans  &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mo 5   &mkp MB2  &mkp MB3
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        FUNCTION {
            bindings = <
&kp F1      &kp F2             &kp F3           &kp F4  &kp F5                      &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&kp N1      &kp N2             &kp N3           &kp N4  &kp N5  &to 0       &trans  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
&trans      &trans             &trans           &trans  &trans  &tog 1      &trans  &trans  &trans  &trans  &trans  &trans
&kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans  &trans  &trans      &trans  &trans                          &kp LS(INTERNATIONAL_1)
            >;
        };

        BT-Layer {
            bindings = <
&trans  &kp NUMBER_1  &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &to 0       &bootloader  &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &to 1       &trans       &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };

        MacArrow {
            bindings = <
&kp LS(NUMBER_1)  &kp LS(NUMBER_2)    &kp LS(NUMBER_3)  &kp LS(NUMBER_4)     &kp LS(N5)                                    &kp LS(NUMBER_6)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)   &kp LS(NUMBER_0)
&kp SEMICOLON     &kp LG(LEFT_ARROW)  &kp UP_ARROW      &kp LG(RIGHT_ARROW)  &kp GRAVE      &macpass          &kp SQT      &kp MINUS         &kp EQUAL         &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
&kp LS(SEMI)      &kp LEFT_ARROW      &kp DOWN_ARROW    &kp RIGHT_ARROW      &kp LS(GRAVE)  &onepassword      &kp LS(SQT)  &kp LS(MINUS)     &kp LS(EQUAL)     &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp LS(BACKSLASH)
&trans            &trans              &trans            &trans               &trans         &lt 6 ENTER       &trans       &trans                                                                   &kp UNDERSCORE
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &lt 5 I   &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mo 5     &mkp MB2  &mkp MB3
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };
    };
};
