#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Copied from https://github.com/kureyakey/zmk-config-zonkey/blob/main/config/zonkey.keymap
// #define JP_DQUOTE       AT                // "
// #define JP_AMPERSAND    CARET             // &
// #define JP_SQUOTE       AMPERSAND         // '
// #define JP_EQUAL        UNDER             // =
// #define JP_CARET        EQUAL             // ^
// #define JP_YEN          0x89              // ¥
// #define JP_PLUS         COLON             // +
// #define JP_TILDE        PLUS              // ~
// #define JP_PIPE         LS(0x89)          // |
// #define JP_AT           LEFT_BRACKET      // @
// #define JP_COLON        SINGLE_QUOTE      // :
// #define JP_ASTERISK     DOUBLE_QUOTES     // *
// #define JP_BACKQUOTE    LEFT_BRACE        // `
// #define JP_UNDERSCORE   LS(0x87)          // _
// #define JP_LBRACKET     RIGHT_BRACKET     // [
// #define JP_RBRACKET     BACKSLASH         // ]
// #define JP_LPAREN       ASTERISK          // (
// #define JP_RPAREN       LEFT_PARENTHESIS  // )
// #define JP_LBRACE       RIGHT_BRACE       // {
// #define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
// #define JP_BSLH         INT1              // (backslash)

// #define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;
};

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 10>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };
    };

    mo2: mo2 {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp N2>, <&kp DOUBLE_QUOTES>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    mo6: mo6 {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp N6>, <&kp AMPERSAND>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    mo7: mo7 {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp N7>, <&kp SINGLE_QUOTE>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    mo8: mo8 {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp N8>, <&kp LEFT_PARENTHESIS>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    mo9: mo9 {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp N9>, <&kp RIGHT_PARENTHESIS>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    mo0: mo0 {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp N0>, <&kp LS(N9)>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moA: moA {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp MINUS>, <&kp EQUAL>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moB: moB {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp CARET>, <&kp TILDE>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moC: moC {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp AT>, <&kp GRAVE>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moD: moD {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp SEMI>, <&kp PLUS>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    moE: moE {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp COLON>, <&kp ASTERISK>;

        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        // `&lt_to_layer_0 X Y`:
        //    Hold: enable layer X temporarily
        //    Tap:  go to layer 0, then press key Y
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W      &kp E         &kp R                     &kp T                                                     &kp Y        &kp U  &lt 5 I    &kp O    &kp P
&kp A             &kp S      &kp D         &kp F                     &kp G        &none                         &kp ESCAPE     &kp H        &kp J  &kp K      &kp L    &none
&mt LEFT_SHIFT Z  &kp X      &kp C         &kp V                     &kp B        &kp COLON                     &kp RMETA      &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LMETA  &kp LEFT_ALT  &lt_to_layer_0 1 JP_EISU  &lt 2 SPACE  &lt_to_layer_0 3 JP_KANA      &kp BACKSPACE  &lt 1 ENTER                             &kp UNDERSCORE
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        L1_NUM {
            bindings = <
&kp N1          &mo2    &kp N3  &kp N4  &kp N5                      &mo6            &mo7            &mo8             &mo9    &mo0
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans      &trans  &trans          &kp UP_ARROW    &trans           &trans  &kp RIGHT_SHIFT
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans      &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &kp RIGHT_SHIFT
&trans          &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                   &trans
            >;
        };

        L2_SYM {
            bindings = <
&trans          &trans  &trans  &trans  &trans                      &trans           &trans    &moA      &moB  &kp BACKSLASH
&trans          &trans  &trans  &trans  &trans  &trans      &trans  &trans           &kp LPAR  &kp RPAR  &moC  &kp LEFT_BRACKET
&kp LEFT_SHIFT  &trans  &trans  &trans  &trans  &trans      &trans  &trans           &trans    &moD      &moE  &kp RIGHT_BRACKET
&trans          &trans  &trans  &trans  &trans  &trans      &trans  &kp RIGHT_SHIFT                                      &trans
            >;
        };

        L3_FN {
            bindings = <
&kp F1        &kp F2        &kp F3   &kp F4  &kp F5                        &kp F6   &kp F7   &kp F8      &kp F9        &kp F10
&kp C_BRI_DN  &kp C_BRI_UP  &trans   &trans  &trans  &trans       &kp F11  &trans   &trans   &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP
&trans        &trans        &trans   &trans  &trans  &kp F12      &kp F13  &trans   &trans   &trans      &trans        &trans
&trans        &trans        &trans   &trans  &trans  &trans       &trans   &trans                                      &trans
            >;
        };

        L4_MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        L5_SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        L6_BT {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
